@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 15, 23, 42;
    --background-start-rgb: 248, 250, 252;
}

html, body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    min-height: 100vh;
    height: 100%;
}
